/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    padding-left: 10px;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
}

/* Card Styles */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-body {
    padding: 50px;
}

/* Image Styles */
.img-fluid {
    max-width: 100%;
    height: auto;
    padding-bottom:10px ;
}

.rounded {
    border-radius: 8px;
}

/* Typography */
h1 {
    font-size: 24px;
    color: #145a12;
    margin-bottom: 10px;
    padding-left:20px ;
}

h3 {
    font-size: 20px;
    color: #34495e;
    
}

.text-darkgreen {
    color: #2ecc71;
}

.text-primary {
    color: #007bff;
}

.text-success {
    color: #28a745;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    padding-top:10px ;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1d7323;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #1f2020;
}

/* List Group */
.list-group {
    padding: 10px;
    margin:10px;
}

.list-group li {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Row and Column Styles */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

.align-items-center {
    align-items: center;
}
.card-body img {
    width: 100%;
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
}
body {
    font-family: 'Cairo', sans-serif;
}



/* Responsive Design */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }
}
